<mat-toolbar class="mat-primary mat-dialog-header">
  <span>Acción realizada por el Acuerdo</span>
  <button tabindex="-1" mat-icon-button [mat-dialog-close]="0">
    <mat-icon>close</mat-icon>
  </button>
</mat-toolbar>
<div mat-dialog-content>
  <form [formGroup]="accionEditarForm" class="connsat-form-theme">

    <div class="row">
      <div class="col-sm-6 col-md-4">
        <mat-form-field appearance="outline">
          <mat-label>Codigo de la Acción</mat-label>
          <input matInput placeholder="Codigo de la Acción" name="codigo" formControlName="codigo">
        </mat-form-field>
      </div>
    </div>


    <div class="row">
      <div class="col-sm-6 col-md-12">
        <mat-form-field appearance="outline">
          <mat-label>Acción que se realizará</mat-label>
          <input matInput placeholder="Acción que se realizará" name="accionDescripcion"
            formControlName="accionDescripcion" [Uppercased]>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6 col-md-8">
        <mat-form-field appearance="outline">
          <mat-label>Responsable</mat-label>
          <input matInput placeholder="Responsable" name="responsable" formControlName="responsable" [Uppercased]>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6 col-md-8">
        <mat-form-field appearance="outline">
          <mat-label>Entidad</mat-label>
          <mat-select placeholder="Entidad" formControlName="entidad" name="entidad">
            <mat-option *ngFor="let entidad of entidades" [value]="entidad.eNtidadidpk">
              {{entidad.vDescripcion}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>


    <div class="row">
      <div class="col-sm-6 col-md-4">
        <mat-form-field appearance="outline">
          <mat-label>Fecha en la que se Ejecutará</mat-label>
          <input matInput [matDatepicker]="pickerFechaEjecutara" placeholder="Fecha en la que se Ejecutará"
            formControlName="fechaEjecutara" [readonly]="true" name="fechaEjecutara" required>
          <mat-datepicker-toggle matSuffix [for]="pickerFechaEjecutara"></mat-datepicker-toggle>
          <mat-datepicker #pickerFechaEjecutara startView="year">
          </mat-datepicker>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6 col-md-2">
        <section class="app-checkbok-form-field">
          <mat-checkbox matInput formControlName="fueEjecutado"> ¿ Se Ejecutó ?</mat-checkbox>
        </section>
      </div>
      <div class="col-sm-6 col-md-5">
        <mat-form-field appearance="outline">
          <mat-label>Fecha en la que se Ejecutó</mat-label>
          <input matInput [matDatepicker]="pickerFechaEjecuto" placeholder="Fecha en la que se Ejecutó"
            formControlName="fechaEjecuto" [readonly]="true" name="fechaEjecuto" required>
          <mat-datepicker-toggle matSuffix [for]="pickerFechaEjecuto"></mat-datepicker-toggle>
          <mat-datepicker #pickerFechaEjecuto startView="year">
          </mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col-sd-6 col-md-4">
        <mat-form-field appearance="fill">
          <mat-label>Adjuntar</mat-label>
          <ngx-mat-file-input accept="application/pdf" placeholder="Adjuntar" formControlName="adjunto"
            [accept]="'.pdf'" (change)="selectedFileDocAprobacion($event)"></ngx-mat-file-input>
          <mat-icon matSuffix>folder</mat-icon>
        </mat-form-field>
      </div>
    </div>

  </form>
</div>
<div mat-dialog-actions align="center">
  <button mat-stroked-button color="primary" [mat-dialog-close]="0" type="button">
    <mat-icon>keyboard_arrow_left</mat-icon>
    Cancelar
  </button>
  <button mat-raised-button color="accent" [disabled]="accionEditarForm.invalid" (click)="guardar()" type="button">
    <mat-icon>save</mat-icon>
    Grabar
  </button>
</div>
