<div class="row  app-title-page">
    <h1 class="col-md-12">REGIONES</h1>
    <div class="col-md-6 text-right">
    </div>
</div>

<form [formGroup]="busquedaForm">
    <div class="row">
        <div class="col-md-12">

            <div class="row">
                <div class="col-md-12">
                    <mat-card>
                        <mat-card-header>
                            <mat-card-title>Listado de Regiones
                            </mat-card-title>
                        </mat-card-header>

                        <mat-card-content>

                            <div class="row">

                                <div class="col-sm-6 col-md-4">
                                    <mat-form-field appearance="outline">
                                        <mat-label>REGION</mat-label>
                                        <mat-select placeholder="Seleccione Region" formControlName="region" name="region">
                                            <mat-option *ngFor="let region of regiones" [value]="region.rEgionidpk">
                                                {{region.vDesnombre}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>

                                <div class="col-sm-6 col-md-4">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Encargado</mat-label>
                                        <input matInput placeholder="Nombre del Encargado" name="encargado" formControlName="encargado" [Uppercased]>
                                    </mat-form-field>
                                </div>

                                <div class="col-sm-6 col-md-4">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Numero Documento</mat-label>
                                        <input matInput placeholder="Numero Documento" name="numdocumento" formControlName="numdocumento" type="number">
                                    </mat-form-field>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-sm-6 col-md-12 app-search-buttons app-form-buttons">
                                    <button mat-raised-button color="primary" (click)="buscarEncargadoRegion()">
                    <mat-icon>search</mat-icon>
                    Buscar
                  </button>
                                    <button mat-raised-button color="accent" (click)="nuevoRegistro()">
                    <mat-icon class="material-icons-outlined">insert_drive_file</mat-icon>
                    Nuevo
                  </button>
                                    <button mat-raised-button color="primary" (click)="limpiarRegistro()" type="button">
                    <mat-icon class="material-icons-outlined">clear_all</mat-icon>Limpiar
                   </button>
                                </div>
                            </div>


                        </mat-card-content>

                    </mat-card>
                </div>
            </div>


            <!-- LISTADO REGIONES CABECERA-->
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Listado de Regiones
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>

                    <table mat-table [dataSource]="dataSource" matSort>

                        <!-- ITEM -->
                        <ng-container matColumnDef="nro">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> NRO.</th>
                            <td mat-cell *matCellDef="let i=index"> {{i + 1}} </td>
                        </ng-container>

                        <!-- REGION -->
                        <ng-container matColumnDef="region">
                            <th mat-header-cell *matHeaderCellDef> REGION </th>
                            <td mat-cell *matCellDef="let row"> {{row.region.vDesnombre}} </td>
                        </ng-container>

                        <!-- ENCARGADO -->
                        <ng-container matColumnDef="encargado">
                            <th mat-header-cell *matHeaderCellDef> ENCARGADO </th>
                            <td mat-cell *matCellDef="let row"> {{row.vNombre}} {{row.vApellidopaterno}} {{row.vApellidomaterno}}</td>
                        </ng-container>

                        <!-- DOCUMENTO -->
                        <ng-container matColumnDef="documento">
                            <th mat-header-cell *matHeaderCellDef> DOCUMENTO </th>
                            <td mat-cell *matCellDef="let row"> {{row.vNumdocumento}} </td>
                        </ng-container>

                        <!-- FECHA -->
                        <ng-container matColumnDef="fecha">
                            <th mat-header-cell *matHeaderCellDef> FECHA </th>
                            <td mat-cell *matCellDef="let row"> {{row.dFechaprobacion}} </td>
                        </ng-container>

                        <!-- DESCARGAR -->
                        <ng-container matColumnDef="descargar">
                            <th mat-header-cell *matHeaderCellDef> ARCHIVO</th>
                            <td mat-cell *matCellDef="let row">
                                <button mat-stroked-button matTooltip="Descargar" color="primary" (click)="decargarArchivo(row.eNcargadoregionidpk)">
                  <mat-icon>cloud_download</mat-icon>
                </button>
                            </td>
                        </ng-container>

                        <!-- eitar -->
                        <ng-container matColumnDef="editar">
                            <th mat-header-cell *matHeaderCellDef class="text-center"> EDITAR</th>
                            <td mat-cell *matCellDef="let row" class="text-center">
                                <button mat-stroked-button matTooltip="Editar Registro" color="primary" (click)="editarRegistro(row.eNcargadoregionidpk)">
                  <mat-icon>edit</mat-icon>
                </button>
                            </td>
                        </ng-container>

                        <!-- eliminar -->
                        <ng-container matColumnDef="eliminar">
                            <th mat-header-cell *matHeaderCellDef class="text-center"> ELIMINAR</th>
                            <td mat-cell *matCellDef="let row" class="text-center">
                                <button mat-stroked-button matTooltip="Eliminar Registro" color="accent" (click)="eliminarRegistro(row.eNcargadoregionidpk)">
                  <mat-icon>delete</mat-icon>
                </button>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                    </table>

                    <mat-paginator class="mat-paginator-sticky" [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons>
                    </mat-paginator>

                </mat-card-content>
            </mat-card>



        </div>
    </div>
</form>
